In [8]:
import pandas as pd
import numpy as np
import csv

from sqlalchemy import create_engine

#import config
password="Cafebean84!"

In [9]:
# Read the csv file
crime_df = pd.read_csv("assets/data/cdata_raw.csv", encoding='utf-8', parse_dates=['Date'],
                      usecols=['ID','Date','Primary Type','Description','Location Description',
                               'Arrest','District','Year','Latitude','Longitude',
                               'Historical Wards 2003-2015','Zip Codes','Police Districts'],
                      converters={'District': str, 'Historical Wards 2003-2015': str,
                                  'Zip Codes' : str, 'Police Districts': str})

In [10]:
crime_df.rename(columns={"Primary Type": "Primary_Type", "Location Description": "Location_Description",
                       "Historical Wards 2003-2015": "Historical_Wards", "Zip Codes": "Zip_Codes",
                       "Police Districts": "Police_Districts"}, inplace=True)

In [11]:
crime_df.head()

,ID,Date,Primary_Type,Description,Location_Description,Arrest,District,Year,Latitude,Longitude,Historical_Wards,Zip_Codes,Police_Districts
0,11824091,2019-09-10 23:55:00,WEAPONS VIOLATION,UNLAWFUL USE HANDGUN,RESIDENCE PORCH/HALLWAY,False,007,2019,41.775402,-87.653178,17,21559,17
1,11824149,2019-09-10 23:50:00,OTHER OFFENSE,VEHICLE TITLE/REG OFFENSE,STREET,True,006,2019,41.750582,-87.647984,17,21554,20
2,11824121,2019-09-10 23:50:00,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,True,015,2019,41.880829,-87.752634,11,22216,25
3,11824152,2019-09-10 23:47:00,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,006,2019,41.751657,-87.650131,17,21554,20
4,11828245,2019-09-10 23:45:00,ASSAULT,SIMPLE,APARTMENT,False,014,2019,NaN,NaN,,,

In [12]:
len(crime_df.index)

6966245

In [13]:
# Check date range
least_recent_date = crime_df['Date'].min()
recent_date = crime_df['Date'].max()
print(f'Start date: {least_recent_date} and Recent date: {recent_date}')

Start date: 2001-01-01 00:00:00 and Recent date: 2019-09-10 23:55:00

In [14]:
start_date = '2010-01-01 00:00:00'
end_date = '2019-09-10 23:55:00'

In [15]:
mask = (crime_df['Date'] > start_date) & (crime_df['Date'] <= end_date)

In [16]:
filtered_crime_df = crime_df.loc[mask]
filtered_crime_df.head()

,ID,Date,Primary_Type,Description,Location_Description,Arrest,District,Year,Latitude,Longitude,Historical_Wards,Zip_Codes,Police_Districts
0,11824091,2019-09-10 23:55:00,WEAPONS VIOLATION,UNLAWFUL USE HANDGUN,RESIDENCE PORCH/HALLWAY,False,007,2019,41.775402,-87.653178,17,21559,17
1,11824149,2019-09-10 23:50:00,OTHER OFFENSE,VEHICLE TITLE/REG OFFENSE,STREET,True,006,2019,41.750582,-87.647984,17,21554,20
2,11824121,2019-09-10 23:50:00,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,True,015,2019,41.880829,-87.752634,11,22216,25
3,11824152,2019-09-10 23:47:00,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,006,2019,41.751657,-87.650131,17,21554,20
4,11828245,2019-09-10 23:45:00,ASSAULT,SIMPLE,APARTMENT,False,014,2019,NaN,NaN,,,

In [17]:
filtered_crime_df.tail()

,ID,Date,Primary_Type,Description,Location_Description,Arrest,District,Year,Latitude,Longitude,Historical_Wards,Zip_Codes,Police_Districts
2889593,10500984,2010-01-01 00:01:00,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,RESIDENCE,False,007,2010,NaN,NaN,,,
2889594,10523663,2010-01-01 00:01:00,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,025,2010,NaN,NaN,,,
2889595,11814452,2010-01-01 00:01:00,CRIM SEXUAL ASSAULT,PREDATORY,RESIDENCE,False,012,2010,NaN,NaN,,,
2889596,11620828,2010-01-01 00:01:00,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,004,2010,41.724871,-87.596063,9,21546,19
2889597,10442497,2010-01-01 00:01:00,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,APARTMENT,False,004,2010,NaN,NaN,,,

In [18]:
len(filtered_crime_df.index)

2889598

In [19]:
# Unique types of crime
types = filtered_crime_df['Primary_Type'].unique()
print(types)
print(len(types))

['WEAPONS VIOLATION' 'OTHER OFFENSE' 'BATTERY' 'CRIMINAL DAMAGE' 'ASSAULT'
 'ROBBERY' 'THEFT' 'CRIMINAL TRESPASS' 'DECEPTIVE PRACTICE' 'NARCOTICS'
 'CRIM SEXUAL ASSAULT' 'MOTOR VEHICLE THEFT' 'BURGLARY'
 'OFFENSE INVOLVING CHILDREN' 'PUBLIC PEACE VIOLATION' 'KIDNAPPING'
 'INTERFERENCE WITH PUBLIC OFFICER' 'CONCEALED CARRY LICENSE VIOLATION'
 'SEX OFFENSE' 'INTIMIDATION' 'STALKING' 'ARSON' 'HOMICIDE' 'PROSTITUTION'
 'LIQUOR LAW VIOLATION' 'GAMBLING' 'OBSCENITY' 'HUMAN TRAFFICKING'
 'PUBLIC INDECENCY' 'OTHER NARCOTIC VIOLATION' 'NON-CRIMINAL'
 'NON-CRIMINAL (SUBJECT SPECIFIED)' 'NON - CRIMINAL']
33

In [20]:
# Total number of unique crimes
np.count_nonzero(types)

33

In [21]:
# Calculate missing values in the columns 
null_columns=filtered_crime_df.columns[filtered_crime_df.isnull().any()]
filtered_crime_df[null_columns].isnull().sum()

Location_Description     5402
Latitude                20634
Longitude               20634
dtype: int64

In [22]:
# Dropping rows with missing values
new_crime_df = filtered_crime_df.dropna(subset=['Latitude', 'Longitude'])
len(new_crime_df.index)

2868964

In [23]:
new_crime_df.head()

,ID,Date,Primary_Type,Description,Location_Description,Arrest,District,Year,Latitude,Longitude,Historical_Wards,Zip_Codes,Police_Districts
0,11824091,2019-09-10 23:55:00,WEAPONS VIOLATION,UNLAWFUL USE HANDGUN,RESIDENCE PORCH/HALLWAY,False,007,2019,41.775402,-87.653178,17,21559,17
1,11824149,2019-09-10 23:50:00,OTHER OFFENSE,VEHICLE TITLE/REG OFFENSE,STREET,True,006,2019,41.750582,-87.647984,17,21554,20
2,11824121,2019-09-10 23:50:00,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,True,015,2019,41.880829,-87.752634,11,22216,25
3,11824152,2019-09-10 23:47:00,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,006,2019,41.751657,-87.650131,17,21554,20
5,11824113,2019-09-10 23:42:00,ASSAULT,SIMPLE,SIDEWALK,False,015,2019,41.899880,-87.748366,4,4299,25

In [24]:
# Connect to Postgres database 
engine = create_engine(f'postgresql://postgres:{config.password}@localhost:5432/crime_db')

In [25]:
# Save dataframe into the table
new_crime_df.to_sql('chicago', engine)

In [26]:
with engine.connect() as con:
    con.execute('ALTER TABLE chicago ADD PRIMARY KEY ("ID");')